body
{
    margin: 0 auto; 
}
.ground
{
    background-image: url('ground.jpg');
	background-size:cover; 
}

::-webkit-scrollbar { /* display: none;  Chrome Safari */  }

.chatimg
{
     position:absolute;
     bottom:30px;
     right:120px;
     opacity:0.2;
	 width:50px;
	 height:50px;
	 background-image: url('../../images/chatsleep.png');
	 z-index:999;
	 cursor:pointer;
}
.chatimg:hover
{
     opacity:1;
	 background-image: url('../../images/chat.png');
}

.robotimg
{
     position:absolute;
     bottom:30px;
     right:60px;
     opacity:0.2;
	 width:50px;
	 height:50px;
	 background-image: url('../../images/robotsleep.png');
	 z-index:999;
	 cursor:pointer;
}
.robotimg:hover
{
     opacity:1;
	 background-image: url('../../images/robotchat.png');
}

table {border-collapse:collapse;}
.st
{
	overflow:hidden;
	height: 100%;
	margin:auto;
	width:100%;/* linux下必须设置宽度，否则错位  */
}
.stu
{
	overflow:hidden;
	height: 100%;
	margin:auto;
	width:100%;/* linux下必须设置宽度，否则错位  */
}
.textbox{
	height:24px;
	line-height:24px;
    font-size: 12pt;
	background-color:#FCECC2;
    border-width: 1px;
	border-color:#C8C8C8;	
		
}

.buttonimg
{
    border-width: 0px;
    background-position: center;
    background-image: url('btn.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12pt;
    text-align:center;
}
.buttonimg:hover
{
    font-weight:bold;
}
.buttonnone
{
    border-width: 1px;
    border-color: #CCCCCC;
    width: 80px;
    height: 20px;
    background-color: transparent;
}
*
{
    margin-right: 0px;
    margin-left: 0px;
}
.menu a
{    
    text-decoration: none;
} /*链接无下划线none,有为underline*/
.menu a:link
{
    text-decoration: none;
} /*未访问的链接 */
.menu a:visited
{
    color: #000000;
    text-decoration: none;
} /*已访问的链接*/
.menu a:hover
{
    text-decoration: none;
} /*鼠标在链接上 */
.menu a:active
{
    color: #000000;
    text-decoration: none;
} /*点击激活链接*/

.shorttitle
{
    text-overflow:ellipsis; 
}

.banner
{
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    height: 100px;
    overflow: hidden;
    background-image: url('road.jpg');
    background-repeat: no-repeat;
}
.canner
{
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    height: 10px;
    overflow: hidden;
    background-image: url('banner.jpg');
    background-repeat: no-repeat;
}
.logo1
{
    float: left;
    width: 160px;
    height: 60px;
}
.logo2
{
    float: left;
    width: 640px;
    height: 60px;
}
.menu
{
    background-color: #C5D6FE;
    font-family: Arial;
	display:flex;
	min-width:1200px;
	height:40px;    
	box-shadow: 1px 1px 1px #999;
}
.sp{ padding-right:80px;}

.nav {  margin:auto;height:32px;text-align:center; font-size:15pt;font-weight: bold;}
.nav li {float:left; display:inline; padding:0px; margin:0px 4px 0px 4px; text-align:center;}
.nav li a {display:block; padding:4px 0px 0px 4px; color:#000;  text-decoration:none;}
.nav li a:hover {color:#FFF; background-color:#79A0FD;}

li.home {background:url(../../images/lesson.png) top left no-repeat;}
li.mission {background:url(../../images/mission.png) top left no-repeat;}
li.survey {background:url(../../images/survey.png) top left no-repeat;}
li.topic {background:url(../../images/topic.png) top left no-repeat;}
li.inquiry {background:url(../../images/inquiry.png) top left no-repeat;}
li.return {background:url(../../images/return.png) top left no-repeat;}

.foot
{
    font-size: 12pt
    font-family: Arial;
}
.path
{
    margin:auto;
    height: 12px;
}
.studmasterhead
{
    text-align: left;
    margin: auto;
    padding-top: 0px;
}
.placeauto
{
    margin: auto;
}
.bg
{
    background-image: url('bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
}
.indexdiv
{
    margin: auto;
    width: 300px;
    height: 240px;
    background-image: url('login.png');
    background-repeat: no-repeat;
}
.pfdiv
{
    border: 1px solid #E8E8E8;
    margin: auto;
    width: 300px;
}
.indexhead
{
    border-width: 0px;
    height: 24px;
    line-height: 24px;
}


.indexsql
{
    margin: auto;
    width: 360px;
    vertical-align: middle;
}
#student
{
    margin: auto;
    font-family: Arial;
    font-size: 11pt;    
	text-align:center;	
	padding:10px;
}

.left
{
    float: left;
	width:79%;
    text-align: center;
    overflow: hidden;
}
.right
{
    float: right;
	width:20%;
    text-align: center;
    overflow: hidden;
}


.ImagePass
{
	position:fixed;
	left:70%;
	top:240px;
}

.show
{
    border: 1px solid lightsteelblue;
    width: 80px;
    height: 60px;
    vertical-align: middle;
    background-color: #E9F1FE;
    font-size: 12pt
    font-family: Arial;
}
.centerdiv
{
    text-align: center;
}
.center
{
    background-color: #C0D6E4;
    height: 18px;
    padding-right: 2px;
    line-height: 18px;
}
.pagediv
{
    font-size: 11pt
    width: 100%;
    color: black;
    height: 20px;
    text-align: right;
}
.onlinediv
{
    border: 1px solid #ABC1EB;
    vertical-align: middle;
    width: 80px;
    height: 38px;
    text-align: center;
}
.onlinebg
{
    background-color: #C0D6E4;
}

.divtop
{
    float: left;
    width: 310px;
}

.divscoreheight
{
    float: left;
    width: 400px;
}

.divscore
{
    margin:auto; 
    width: 390px;
}
.divRank
{
    padding: 2px;
    margin: auto;
    width: 150px;
}
.divinfo
{
    margin:auto; 
    height:30px;
    width:200px;
}
.divinfo1
{
    border: 1px solid #ABC1EB;    
    float: left;
    width: 40px;
    text-align: center;
    background-color: #C0D6E4;
}

.divinfo2
{
    border: 1px solid #ABC1EB;
    float: left;
    width: 150px;
}


.divvote
{
    border: 1px solid #E1EDFF;
    width: 70px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFAEE;
}
.divgood
{
    border: 1px solid #EAEFFB;
    background-color: #F7FBFF;   
    width: 80px;
    text-align: center;
    vertical-align: middle;
}
.divvotebg
{
    background-color: #E1EDFF;
}
.divcenter
{ text-align:center;}
.divborder
{
    border: 1px solid #EAEAEA;
}

.downworkbd
{
    margin:auto;
    border: 1px solid #E6E6E6;
    width: 360px;
}
.downfilebd
{
    margin:auto;
    border: 1px solid #E6E6E6;
    width: 560px;
}
.downcontentbd
{
    border: 1px solid #E6E6E6;
    width: 790px;
}
.downcontent
{
    margin: auto;
    width: 780px;
    text-align: left;
    font: 12px/150% Arial;
    padding: 10px 3px 3px 10px;
}
.textboxcenter
{
    text-align: center;
}

#showcontent
{
    margin:auto;
    font-family: Arial;
    font-size: 12pt;
	padding:10px;
	min-width:1056px;
}
.coursetitle
{
    height: 20px;
    font-size: 16pt;
    font-family: Arial;
    font-weight: bold;
}
.descriptioncontent
{
    margin: 20px;
    text-align: left;
    line-height:1.5;
	word-wrap:break-word;
}
.taskcontent
{
    margin: 10px;
    text-align: left;
    line-height:1.5;
	word-wrap:break-word;
}
.sidebar
{
   width:200px;
   top:180px;
   right:10px;
   position:fixed;
   z-index:100;
   background:url("sidebg.png") 0 0 repeat;
}
.coursecontent
{
    text-align: left;
    line-height:1.5;
    padding: 20px;
}
div.placeauto img:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.ccontent
{
    margin: auto;
    width: 780px;
}
.myinfo
{
    margin: auto;
    width: 160px;
}
.missiontitle
{
    font-size: 16pt;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #D5D5D5;
    padding-bottom: 20px;
	text-align:center;
}
.courseother
{
    padding: 2px;
}
.divnull
{
    margin: auto;
    width: 200px;
}
.divbgupload
{
    
}
.ruletabel
{
    font-size: 11pt
    width: 500px;
}
.rulehead
{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: black;
    height: 16px;
    background-color: #C0D6E4;
    text-align: center;
}
.ruletd
{
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
}

.quizscoreheight
{
    float: left;
    width: 50%;
}
.quizone
{
    display:flex;
    padding: 10px;
    margin: auto;    
}
.quizone:hover{
	background-color:#F8DFC9;
}

.quizleftnum
{
    float: left;
    width: 30px;
    text-align: center;
	line-height:24px;
}

.quizleftquestion
{
    float: left;
    width: 80%;
    text-align: left;
	line-height:24px;	
    padding-left: 10px;
}
.quizleftanswer
{
    float: left;
    width: 4px;
}
.quizleftup
{
    float: right;
    width: 20%;
}
.quizresult
{
    margin:auto;
    width: 90%;
}
.quizmyhead
{
    margin:auto;
    border: 0px;
    height: 26px;
}
.quizmyscore
{
    margin:auto;
    width: 98%;
    border: 1px solid #E6E8E8;
}
.quizinfo
{
    margin:auto;
    width: 128px;
    border: 1px solid #ABC1EB;
}
.quizhead
{
    border: 1px solid #ABC1EB;
    text-align: center;
}
.quiztime
{
    margin:auto;
    border: none;
    font-size: 11pt;	
	background:transparent;
    font-family: Arial;
    text-align: center;
}
.divquizscore
{
    margin:auto; 
    width: 90%;
}
.uploaddiv
{
    font-family: Arial;
    font-size: 11pt
    width: 160px;
    margin: auto;
    text-align: center;
}
.panelFtpcss
{
    text-align: left;
    background-color: #FBE3C4;
}
.panelselfcss
{
    text-align:center;
    background-color: #FBE3C4;
}
.btncopy
{
    background-color: #F2DFC1;
    border: 1px solid #E9C794;
    font-family: Arial;
    font-size: 11pt
}
.txtszcenter
{
    line-height: 18px;
}
.sitevote
{
    border: 1px solid #E1EDFF;
    width: 70px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFFFF;
}
.sitevotebg
{
    background-color: #E1EDFF;
}
.txts24center
{
    line-height: 24px;
}
.txts20center
{
    line-height: 20px;
}
.topicleft
{
    float: left;
    width: 500px;
    height: 12px;
}
.topicright
{
    float: right;
    width: 400px;
    text-align: right;
}
.topichead
{
    padding: 4px;
    background-color: #E2EDFC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E7E7E7;
    height: 28px;
    line-height: 28px;
}
.topictext
{
    padding: 4px;
    float: left;
    margin: auto;
    white-space: normal;
    line-height: 20px;
	width: 99%;
}
#plant{
	margin: auto;	
}
.topicagree
{
}
.formtext
{
    border: 1px dashed #CCCCCC;
    padding: 2px;
    float: left;
    margin: auto;
    white-space: normal;
    display: block;
    line-height: 20px;
    width: 820px;
    background-color: #FFFFDD;
}
.leftmaster
{
    float: left;
    width: 1200px;
    text-align: center;
    overflow: hidden;
}
.rightmaster
{
	position:fixed;
    right:0px;
    width: 240px;
    text-align: center;
    overflow: hidden;
}
.sharedisk
{
    border-width: 0px;
    padding: 0px;
    width: 80px;
    height: 20px;
    background-image: url('../../images/share.gif');
    background-repeat: no-repeat;
    font-size: 11pt
    line-height: 20px;
}
.nomicdisk
{
    margin: 0px;
    border-width: 0px;
    padding: 0px;
    width: 100px;
    height: 22px;
    background-image: url('../../images/nomicdisk.gif');
    background-repeat: no-repeat;
    font-size: 11pt
    line-height: 22px;
}      
.textbox
{
    background-color: #FBF4D5;
	border: 1px dashed #ccc;
} 
.textbox:hover
{
	border: 1px dashed #999;
} 
.textlabel
{
    background-color:#FBF4D5; height:20px;width:80px;
	border: 1px dashed #ccc;
}
.textlabel:hover
{
	border: 1px dashed #999;
}
.onlinename
{
    font-size: 11pt
    font-family: 宋体, Arial, Helvetica, sans-serif;
    text-decoration: none;
    height: 18px;
}
.onlineflag
{
    border-style: 0;
}
.onlinedate
{
    font-family: Arial;
    font-size: 8pt;
    width: 40px;
}
.timg { border: 1px solid #ddd;width:220px; height:180px;border-radius: 24px;  } a:hover img{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6}
.divindex{margin: auto;overflow: hidden;}
.thumbbox{width:24.9%;float:left;}
.text-center{font-size: 10pt;color: #666;font-family: Arial;}
.txtblank
{ 
  border: 1px dashed #666;
  background-color:#fadaa9;
  margin:20px;
  height:24px;
}
.leadvote
{   
    opacity: 0.6;
}

.leadvote:hover
{   
    opacity: 1;   
}

.stunum{
	text-align: center;
    vertical-align: middle; 
	opacity:0.5;
	padding:6px;
}
.stunum:hover{
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
	opacity:1.0;
}
.stuimg{
    width: 70px;	
	height:80px;
}
.stulink{
	text-decoration:none;	
}


.quizarea{
	width: 980px; margin: auto; padding: 10px; text-align: left; box-shadow:0px 0px 6px #ddd;
}

#questionPage{    
   overflow:auto;
   text-align:left;
}

.blackword{
    border:none;
	outline:none;
	border-bottom: 1px solid #999;
	display: inline-block;
	background: #FFF7D9;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	width: 80px;
	font-size:16px;
}
.quiztitle{
	padding:10px;
	margin:auto;
	font-family:Arial,"微软雅黑";
}
.quizraido{
	padding-left:50px;
	margin:4px;
	font-family:Arial,"微软雅黑";
}
.quizquestion{	
	font-size:16px;
	margin:10px;
	border: 1px solid #fff;	
}
.quizquestion:hover{
	background:#fafafa;
}
.btnsubmit{
	text-align: center;	
	padding:10px;
}
.btnwidth{
	width:100px;
}

.linedashed{
	border-width: 1px; border-color: #808080; border-bottom-style: dashed; padding-bottom: 4px;
}
.vcontent{
	margin: auto; padding: 2px; text-align: left; width: 980px; 
}

#Btnform
{
  border-width: 0px; background-color: #3399FF; width: 80px; height: 24px;  
}
#Btnform:hover
{
  color:#fff;
  background-color: #0068D1; 
  cursor:pointer;
}