* {margin: 0; padding: 0; border: none; font-size: 14px; text-align: left;}
ul { list-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; color:#f60; }

img{max-height:200px;}

.textarea {outline:none;  width:100%;height:105px;overflow-y: auto; }

.content {  margin: 0 auto; text-align: center; }
.chatBox { width: 612px; border: 1px #ddd solid; margin: 0 auto;height: auto; }
.chatLeft { border-right: 1px #bebebe solid; width: 480px;  float:left; }
.chatRight { width: 130px;  float:right; }
.chat01_title , .chat03_title { background: url('../../code/imgchat/title_bg.jpg') repeat-x 0 0; height:30px; position: relative;}
.talkTo {  }
.talkTo li { background: url('../../code/imgchat/title-bg.png') no-repeat 0px -1px; _background-position: 0 0; line-height: 17px; float: left; padding-left: 6px; margin: 5px 20px; _margin-left: 9px; }
.talkTo li a { background: url('../../code/imgchat/title-bg.png') no-repeat bottom right; padding: 4px 11px 4px 7px; _padding-top: 0px; _padding-bottom: 0px; height: 19px; font-size: 12px; font-weight: bold; color: #333; text-decoration: none;}
.close_btn { background: url('../../code/imgchat/icon.png') no-repeat 0 0; position: absolute; top: 10px; right: 8px; display: block; width: 15px; height: 15px; }
.chat02_title { background: url('../../code/imgchat/chat_title_bg.jpg') repeat-x 0 0; height: 25px; position: relative; }
.chat02_bar { background: url('../../code/imgchat/chat_bar_bg.jpg') repeat-x 0 0; height: 30px; position: relative; }
.chat02_bar ul {height: 100%; }
.chat02_bar li { position: absolute; }
.chat02_bar li button{ width:83px;height:30px; background: url('../../code/imgchat/send.png') }
.chat02_bar li button:hover{ background: url('../../code/imgchat/sendred.png') }

.chat03_title_t { background: url('../../code/imgchat/icon.png') no-repeat 0px -370px;cursor: pointer; position: absolute; padding-left: 25px; top: 8px; left: 10px; display: block; width: auto; height: 15px; font-size:12px; font-weight:bold; }
.chat03_title_f { background: url('../../code/imgchat/icon.png') no-repeat 0px -280px; cursor: pointer;position: absolute; padding-left: 25px; top: 8px; left: 10px; display: block; width: auto; height: 15px; font-size:12px; font-weight:bold; }

.chat01_content { height: 320px; overflow-x: none; overflow-y: auto; }
.chat02_content { min-height:100px;overflow-x: none; margin-left:4px;}
.chat03_content { text-align: left; font-size: 12px; color: #333; margin: 8px 0px; }

.chat03_name { color: #333; position: absolute; top: 20px; left: 60px; display: block; }
.chat03_content ul {  overflow-y: auto; height:434px; }
.chat03_content ul li { position: relative; padding: 3px 6px; height: 51px; _padding-bottom:0px; }
.chat03_content ul li.hover{ background: #ebeef3; } 
.chat03_content ul li.choosed{ background: #ebeef3; } 
.chat03_content ul li a {  }
.chat03_content ul img { width: 50px; height: 50px; }

.chat03_file {display:none;}
.chat03_file ul { overflow-y: auto; height:440px;}
.chat03_file ul li { padding: 1px 6px;}
.chat03_file ul li.hover{ background: #ebeef3; } 
.chat03_file ul li.choosed{ background: #ebeef3; } 
.chat03_file ul li a {  text-overflow:ellipsis;}
.chat03_file ul img { width: 16px; height: 16px; }


.chat02_title_btn { background: url('../../code/imgchat/icon.png') no-repeat 0 0; cursor: pointer; float: left; display: block; width: 15px; height: 15px; margin: 5px 8px; }
.ctb01{ background-position: 0 -90px; margin-left: 18px; _margin-left: 8px; }
.ctb011{ background-position: 0 -186px; }
.ctb02{ background-position: 0 -152px; }
.ctb03{ background-position: 0 -216px; }
.chat02_title_t { background: url('../../code/imgchat/icon.png') no-repeat 0px -516px;cursor: pointer; position: absolute; padding-left: 25px; top: 8px; right: 20px; display: block; width: auto; height: 15px; }
.chat02_title_t a { color:#333; font-size:12px; text-decoration: none; }
.chat02_title_t a:hover { color:#f60; text-decoration: none; }

input.f1 , input.f2 { display: none; }

.message_box { display: none; _width: 550px;}

.message {
	//border-bottom: 1px solid #EEE;
	clear: both;
	padding: 6px 6px 6px 0;
	position: relative;
	margin: 0px 6px;
}

.message .user-logo {
	float: left;
	width: 50px;
	height: 50px;
	resize:none;
}

.message .wrap-text {
	float: left;
	display: inline;
	width: 360px;
	overflow: hidden;
	resize:none;
}

.message h5 {
	color: #369;
	font-weight: bold;
}
.message .name {
	color: #369;
	font-weight: bold;
}
.message .time {
	color: #369;
	margin-left: 10px;	
}

.message .wrap-text div {
	margin: 5px 0;
	word-break: break-all;
	word-wrap: break-word;
	height: auto;
	overflow: hidden;
	white-space: pre-wrap;
}

.message .wrap-ri {
	float: right;
	width: 110px;
	overflow: hidden;
	resize:none;
}

.message .wrap-ri div {
	text-align: right;
	color: #999;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 10px;
	right: 5px;
}

.message .wrap-ri div span {
	display: inline-block;
	line-height: 18px;
	vertical-align: bottom;
	zoom: 1;
}

.wl_faces_box { background: url('../../code/imgchat/wlf_bg.png') repeat 0 0; position: absolute; width: 428px; height: 225px; bottom: 22px; left: 0px; display: none; }
.wl_faces_content { background: #fff; border: 1px #ccc solid; width: 417px; height: 216px; margin: 3px 4px; }
.wl_faces_content .title { background: url('../../code/imgchat/wlf_title_bg.jpg') repeat-x 0 0; height: 40px; position: relative; }
.wl_faces_content .title ul {  }
.wl_faces_content .title ul li { position: absolute; display: block;}
.wl_faces_content .title ul li.title_name { background: url('../../code/imgchat/wlf_title_btn.jpg') no-repeat 0 0; width: 82px; height: 30px; bottom: 0; _bottom:-2px; left: 15px; text-align: center; line-height: 32px; font-weight: bold; color: #333; }
.wl_faces_content .title ul li.wl_faces_close { right: 8px; top: 15px; }
.wl_faces_content .title ul li.wl_faces_close span { background: url('../../code/imgchat/icon.png') repeat-x 0 0; cursor: pointer;display: block; width: 15px; height: 15px; }

.wl_faces_main {  }
.wl_faces_main ul { margin: 12px 28px; overflow: hidden; border-top: 1px #CCC solid; border-left: 1px #CCC solid; width:360px; }
.wl_faces_main ul li { float: left; border-right: 1px #CCC solid; border-bottom: 1px #CCC solid; height: 22px; width: 26px; margin: -1px 0 0 -1px; padding: 4px 2px; text-align: center; }
.wl_faces_main ul li img { width: 22px; height: 22px; }

.wlf_icon { background: url('../../code/imgchat/layer_arrow.png') no-repeat 0 0; position: absolute; width: 22px; height: 9px; bottom: -4px; _bottom: -11px; left: 11px; }

.wl_emo_box { background: url('../../code/imgchat/wlf_bg.png') repeat 0 0; position: absolute; width: 480px; height: 325px; bottom: 22px; left: 0px; display: none; }
.wl_emo_content { background: #fff; border: 1px #ccc solid; width: 472px; height: 316px; margin: 3px 4px; }
.wlf_emo { background: url('../../code/imgchat/layer_arrow.png') no-repeat 0 0; position: absolute; width: 22px; height: 9px; bottom: -4px; _bottom: -11px; left: 41px; }
.wl_emo_content .title { background: url('../../code/imgchat/wlf_title_bg.jpg') repeat-x 0 0; height: 40px; position: relative; }
.wl_emo_content .title ul {  }
.wl_emo_content .title ul li { position: absolute; display: block;}
.wl_emo_content .title ul li.title_name { background: url('../../code/imgchat/wlf_title_btn.jpg') no-repeat 0 0; width: 82px; height: 30px; bottom: 0; _bottom:-2px; left: 15px; text-align: center; line-height: 32px; font-weight: bold; color: #333; }

.wl_emo_main {word-wrap: break-word; margin: 12px 12px; overflow-y: auto; border-top: 1px #CCC solid; border-left: 1px #CCC solid; width:450px; height:260px; cursor: pointer; font-size:24px; font-family:seguiemj; }


.chat03_content li label { display: block; position: absolute; width: 12px; height: 12px; left: 47px; }
label.online { background: url('../../code/imgchat/status.gif') no-repeat 0 0; _background: url('../../code/imgchat/status.gif') no-repeat 0 5px; bottom: 4px; _bottom: 2px; }
label.offline { background: url('../../code/imgchat/status.gif') no-repeat 0 -11px; bottom: 4px; _top: 25px;}

.online { border-radius: 10px; }
.offline { border-radius: 10px; filter: grayscale(100%); }

.enlargeImg_wrapper {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(3, 3, 3, 0.9);
	background-size: 100%;
}
.chatpic:hover {
	cursor: zoom-in;
}
.enlargeImg_wrapper:hover {
	cursor: zoom-out;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸#585858;*/
::-webkit-scrollbar
{
	width: 8px;
	height: 8px;	
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.6);
}
#progress {
  width: 320px;
}
