body{
	background-color: #FDFCF6;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸#585858;*/
::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: #eee;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
	background-color: #ddd;
}
input {
	height:20px; width:80px; border:solid 1px #ccc ;outline:0;
}
input:hover {
	background-color:moccasin;
}

#txtId,#txtUser{
	background-color:rgb(238, 179, 78);
}
#txtId:hover,#txtUser:hover{
	background-color:moccasin;
}
#txtTopic{
	height:20px; width:130px; border:solid 1px #ccc ;outline:0;
	background-color:rgb(238, 179, 78);
}
#txtTopic:hover{
	background-color:moccasin;
}

#txtPayload{
	height:20px; width:130px; border:solid 1px #ccc ;outline:0;
}
#txtPayload:hover{
	background-color:moccasin;
}
button{
	width:80px;
	margin:4px;
}
#btnConnect{
	border:solid 1px #666 ;
	background-color:rgb(143, 219, 108);
}
#btnConnect:hover{
	background-color:rgb(146, 247, 99);
}
.center{
	text-align:center;
}
table{width:100%;margin:auto;}
td{text-align:center;}
		
#broker{padding-right:10px;}
.linkuser{
	padding:4px;text-align:left;width:310px;height:380px;line-height:24px;
	border:solid 1px #ddd ;font-family:Consolas;overflow-y:auto;
}
.messages{
	width:400px;height:390px; overflow-y:auto;background-color:#333;color:#eee;
	margin:10px; padding:10px;font-family:Consolas;text-align:left;
}
			
hr{border: none;background-color:#222;height: 1px;}

.sesor{
	margin:10px;
}	
.sesor:hover{	

}	
.device {cursor: pointer;opacity:1; margin:20px;padding:4px;filter:grayscale(1);}
.device :hover{box-shadow:#ccc 0px 0px 4px;}

.measure{margin:10px; cursor: pointer;opacity:1;padding:4px;filter:grayscale(1);}	
.measure:hover{ box-shadow:#ccc 0px 0px 4px;}	

.data{
	height:20px;color:#666;
}

.mqttset{width:1260px;margin:auto;padding:10px;}		
.banner{background-image:url('../../code/mqtt/mqttiot.png'); height:100px;margin:0px;}
.subtopics {width:120px;outline:0;}
.divleft{text-align:left;}
.volume{width:20px;}